html
  head
    title Your Profile
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet' href="style.css")
    script(src="jsstyle.js")
    script(src='https://cdnjs.cloudflare.com/ajax/libs/vis/4.19.1/vis.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/vis/4.19.1/vis-timeline-graph2d.min.js')
    link(href='https://cdnjs.cloudflare.com/ajax/libs/vis/4.19.1/vis-timeline-graph2d.min.css', rel='stylesheet', type='text/css')
    style.
      .vis-item{
        background-color:white;
        border:2px solid lightblue;
      }
      #workContent
      {
        display:none;
      }
      ul{
        list-style-type:none;
      }
      #quizContainer{
        display:none;
      }
  body
    nav.navbar.navbar-default
     .container
      .navbar-header
       ul.nav.navbar-nav
        li 
         a(href="/") Home
    .jumbotron
     .container
      h3="Welcome "
       a(href="/designusability")
        button(onclick="showModule('moduleOne');hideWorksheetOne();" class="btn btn-primary" id="DesignModule" style="margin-left:10px;" ) Design
       a(href="/programming")
        button(onclick="showModule('moduleTwo');hideWorksheetThree();" class="btn btn-primary active" id="ProgramModule" style="margin-left:10px;") Programming
       a(href="/addvantage")
       button(onclick="showModule('moduleThree');hideWorksheetFour();" class="btn btn-primary" id="AddVanModule" style="margin-left:10px;") Addvantage
       #moduleOne(name="modules")
        h4 Programming for algorithms - 210CT
       #moduleTwo(name="modules" style='display:none')
        h4 Programming for algorithms - 210CT
       #moduleThree(name="modules" style='display:none')
        h4 Addvantage - Project Management
       div#timeLineContainer
        h3 Student Timeline
      script(type='text/javascript').
        function showContent(){
          let getContentOfSheet = document.getElementById("workContent");
          let showTableOne = document.getElementById("assignmentTableOne")
          let showTableTwo = document.getElementById("assignmentTableTwo")
          showTableOne.style.display = 'inline';
          showTableOne.style.float = 'left';
          showTableTwo.style.display = 'inline';
          getContentOfSheet.style.display = 'inline';          
        }
        function contentForWorksheet(description,deadline){ 
          let worksheetDescID = document.getElementById("workSheetDesc");
          let worksheetDeadline = document.getElementById("worksheetDeadline");
          worksheetDescID.innerHTML = description;
          worksheetDeadline.innerHTML = deadline
        }
        function alertMe(){
          alert("Hello")
        }
        let modulesArray = ['Design for usability','Programming','Addvantage']
        let groups = new vis.DataSet();
        function showContent(){
          let quizContent = document.getElementById("quizContainer")
          quizContent.style.display='inline';
        }
        let programmingWorksheetOne = '<h5><a href="#programmingWorksheetOne" onclick="showContent();" style="text-decoration:none;">Quiz One</a></h5>';
        let programmingWorksheetTwo = '<h5><a href="#programmingWorksheetTwo" onclick="showContent();contentForWorksheet(\'Programming Worksheet 2\',\'21-04-17\')" style="text-decoration:none;">Worksheet Two</a></h5>';
        let programmingWorksheetThree = '<h5><a href="#programmingWorksheetThree" style="text-decoration:none;">Worksheet Three</a></h5>';
       
        let timeLineContainer = document.getElementById('timeLineContainer');

        let Programming = new vis.DataSet([
        {id: 1, content:programmingWorksheetOne , start: '2017-02-01',end:'2017-02-11'},
        ]);
        //Allows timeline items to be edited i.e. added/deleted
        let options = {editable:{
          add:true,
          updateTime:true,
          updateGroup:true,
          remove:true,
          overrideItems:true
        }}

        function answerChecker(){
          let questionOneAnswerA = document.getElementById("questionOneAnswerA").value
          let questionTwoAnswerA = document.getElementById("questionTwoAnswerA").checked
          let questionTwoAnswerB = document.getElementById("questionTwoAnswerB").checked
          let questionThreeAnswerA = document.getElementById("questionThreeAnswerA").value
          let questionFourAnswerA = document.getElementById("questionFourAnswerA").checked
          let questionFourAnswerB = document.getElementById("questionFourAnswerB").checked
          let questionFourAnswerC = document.getElementById("questionFourAnswerC").checked
          let progressBarProgramQuiz = document.getElementById("progressBarProgramQuiz")
          let showAnswerOne = document.getElementById("showAnswerOne")
          let showAnswerTwo = document.getElementById("showAnswerTwo")
          let showAnswerThree = document.getElementById("showAnswerThree")
          let showAnswerFour = document.getElementById("showAnswerFour")
          let studentImprovements = document.getElementById("studentImprovements")
          
          //- let questionFourAnswerC = document.getElementById("questionFourAnswerC").checked
          if(questionOneAnswerA==="Python" || questionOneAnswerA==="python"){
            showAnswerOne.textContent = "Correct";
            showAnswerOne.style.color='green';
            progressBarProgramQuiz.value==25
          }
          else{
            showAnswerOne.textContent = "Incorrect";
            showAnswerOne.style.color='red';
          }
          if(questionTwoAnswerA){
            showAnswerTwo.textContent = "Incorrect";
            showAnswerTwo.style.color='red';
          }else if(questionTwoAnswerB){
            showAnswerTwo.textContent = "Correct";
            showAnswerTwo.style.color = "green";
            progressBarProgramQuiz.value==50
          }
          else{
            showAnswerTwo.textContent = "Incorrect";
            showAnswerTwo.style.color='red';
          }
          if(questionThreeAnswerA==="i=12" || questionThreeAnswerA==="i = 12"){
            showAnswerThree.textContent = "Correct";
            progressBarProgramQuiz.value==75
          }else{
            showAnswerThree.textContent = "Incorrect";
            showAnswerThree.style.color='red';
          }
          if(questionFourAnswerA){
            showAnswerFour.textContent = "Correct";
            progressBarProgramQuiz.value==100
          }
          else{
            showAnswerFour.textContent = "Incorrect";
            showAnswerFour.style.color='red';
            progressBarProgramQuiz.value -= 25;
          }
          if(questionOneAnswerA==="Python" || questionOneAnswerA==="python"&&questionTwoAnswerB&&questionThreeAnswerA!="i=12"&&questionFourAnswerA){
            progressBarProgramQuiz.value = 75;
            showAnswerOne.style.color='green';
            showAnswerTwo.style.color='green';
            showAnswerThree.style.color='red';
            showAnswerFour.style.color='green';  
            studentImprovements.textContent = "Try to revise the previous worksheets regarding how to assign a variable in Python. However good work on the other 3 questions!"
              
            }
          if(questionOneAnswerA==="Python" || questionOneAnswerA==="python"&&questionTwoAnswerB&&questionThreeAnswerA==="i=12"&&questionFourAnswerA){
            progressBarProgramQuiz.value = 100;
            showAnswerOne.style.color='green';
            showAnswerTwo.style.color='green';
            showAnswerThree.style.color='green';
            showAnswerFour.style.color='green';  
            studentImprovements.textContent = "To further help your studies for this module it is recommended that you perform further studies outside class to prepare yourself"
              
            }
        }

        // Create a Timeline
        let timeline = new vis.Timeline(timeLineContainer, Programming, options);
      div.quizContainer
        p Quiz regarding content taught in February
        p Q1- What programming language is also the name of a snake?
        ul.quizQuestionOne
         li
          input(type="text" id="questionOneAnswerA")
        p Q2- Was C# created in 1999 or 2000?
        ul.quizQuestionTwo
         li
          input(type="radio" name="radiobutton" value="1999" id="questionTwoAnswerA")
          |  1999
         li
          input(type="radio" value="2000" name="radiobutton" id="questionTwoAnswerB") 
          |  2000
        p Q3- Assign a variable of i equal to 12 in the Python language
        ul.quizQuestionThree
         li
          input(type="text" id="questionThreeAnswerA")
        p Q4- If I were to concatenate the string "8" and "2". What would the answer be?
        ul.quizQuestionFour
         li
          input(type="radio" name="radiobuttonTwo" id="questionFourAnswerA")
          | 82
         li
          input(type="radio" name="radiobuttonTwo" id="questionFourAnswerB")
          | 10 
         li
          input(type="radio" id="questionFourAnswerC" name="radiobuttonTwo")
          | 16
        
        div#showAnswers
         button(class="btn btn-primary btnShowAnswers" onclick="answerChecker();") Show Answers
         ul#answerList
          li
           h5#showAnswerOne
          li
           h5#showAnswerTwo
          li
           h5#showAnswerThree
          li
           h5#showAnswerFour
           
        progress(min=0 value=0 max=100 id="progressBarProgramQuiz")
        p#studentImprovements

    